<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="main.js"></script>
</head>

<body>
    <div id="container">
        <header>
            <h1 class="logo"><a href="/">Backend</a></h1>
            <!-- Meny knapp för att öppna mobilmenyn-->
            <button class="menu-btn open" id="open-menu">
                <span class="menu-icon">
                    <span class="bars"></span>
                    <span class="bars"></span>
                    <span class="bars"></span>
                </span>
                <span class="menu-text">Meny</span>
            </button>
            <!-- navigering -->
            <nav id="nav-menu">
                <!-- Knapp som visas om mobilmenyn är utfälld -->
                <button class="menu-btn close" id="close-menu">
                    <span class="menu-icon">
                        <span class="bars cross1"></span>
                        <span class="bars cross2"></span>
                    </span>
                    <span class="menu-text">Stäng</span>
                </button>
                <ul>
                    <li><a href="/">Hem</a></li>
                    <li><a href="/kurs">Kurser</a></li>
                    <li><a href="/om">Om</a></li>
                </ul>
            </nav>



        </header>

        <main>
            <div id="main-container">
                <h2>Tillagda kurser</h2>
                <% courses.forEach ((course)=> { %>
                    <ul id="ul-main">

                        <li><strong>Kurskod: </strong>
                            <%= course.coursecode %>
                        </li>
                        <li><strong>Kursnamn: </strong>
                            <%= course.coursename %>
                        </li>
                        <li><strong>Progression: </strong>
                            <%= course.progression %> <br>
                        </li>

                        <li><strong>Länk: </strong>
                          <a href="  <%= course.syllabus %> ">Länk till kursplan </a>
                        </li>
               
                        <li>
                            <form action="/delete/<%= course.id %>" method="POST">
                                <button type="submit" id="radera">Radera</button>
                            </form>
                        </li>

                    </ul>

                    <% }); %>
            </div>
        </main>

        <footer>

        </footer>
    </div>

</body>

</html>